# Configuración del Backend Supabase (PostgREST API)
NEXT_PUBLIC_POSTGREST_URL=https://nufbsgzmtctivmivbpfu.supabase.co/rest/v1
NEXT_PUBLIC_POSTGREST_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFxbHRveWdvZ3BraWpobndmbmZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTg2NzE4OSwiZXhwIjoyMDk3NDQzMTg5fQ.cxqZvaH4IctQ5aAz5IeaZfkwQnAeyiP9pTijW9dn_Qk

# Deshabilitar el simulador local para usar la base de datos de Supabase real
NEXT_PUBLIC_USE_MOCK_DB=false

# Puerto de ejecución del servidor Next.js
PORT=3000
